@CHARSET "UTF-8";

body {
	margin: 0px 0px 0px 0px;
	background-image: url(../images/loginBackground.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 楷体;
	color: red;
}

div {
	padding-top: 0%;
	padding-left: 60%;
}

table {
	
}

tr {
	height: 40px;
	width: 400px;
}

td {
	font-family: 楷体;
	font-size: large;
	font-weight: bold;
	font-family: 楷体;
}

td.first {
	width: 100px;
}

td.second {
	width: 160px;
}